html body {
  background-image: url("https://cdn.evbuc.com/eventlogos/48995724/cookingutensils.jpg");
  no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
