<!DOCTYPE html>
<html>
  <head >
    <title>Rainbows</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js'></script>
    <script src='module.js'></script>
    <script src="javascripts/mainCtrl.js"></script>

</head>
  <body ng-app='app'>
    <h1>Bieber</h1>
<p> This site is dedicated to the b</p>

<a href="">home</a>
<a href="">greatest hits</a>
<a href="">photos</a>
<a href="">members only</a>

<ui-view></ui-view>


  </body>
</html>
