/*body {
  background-image: url("http://www.publicdomainpictures.net/pictures/10000/nahled/1536-1249272668QQ7l.jpg");
  no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}*/
